/* flipping-pages.css */
.page {
  perspective: 1500px;
}

.swiper-slide {
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.swiper-slide-active {
  transform: rotateY(0deg);
}

.swiper-slide-prev {
  transform: rotateY(-180deg);
}

.swiper-slide-next {
  transform: rotateY(180deg);
}

.flipping-swiper {
  overflow: hidden;
}
